.containerAll{
    height: 28.2em;
    background-color: rgb(255, 199, 46);
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    width: 100%;
}

.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.theEnd{
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif; /*De Google Fonts*/;
    font-size: 0.8em;
    color: rgb(105, 102, 102)
}

.title{
    font-weight: 600;
    font-family: 'PT Sans Narrow', sans-serif; /*De Google Fonts*/;
    color:rgb(112, 44, 19);
}

.title:hover{
    cursor: pointer;
    text-decoration: underline;
}

.text{
    font-family: 'PT Sans Narrow', sans-serif; /*De Google Fonts*/;
    color: rgb(112, 44, 19);
}

.text:hover{
    cursor: pointer;
    text-decoration: underline;
}

.socialMedia{
    display: flex;
    justify-content: space-between;
    padding-left: 18em ;
    padding-right: 18em;
    padding-bottom: 2em;
    padding-top: 2em;
    color: rgb(112, 44, 19);
}

.icon{
    color: rgb(10, 116, 255);
}

@media (max-width:1303px){
    .info{
        display: none;
    }
    .containerAll{
        height: 19em;
    }
    .socialMedia{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 18em ;
        padding-right: 18em;
        padding-bottom: 12em;
        padding-top: 2em;
        color: rgb(112, 44, 19);
        font-size: 0.1em;
    }
    .theEnd{
        font-size: 0.6em;
    }

    
}